.mensagem_erro{
    display: none;
}

.principal__formulario{
    justify-content: center;
}

.principal__titulo{
    margin: 4rem 0 2rem 0;
    font-weight: 400;
}

.apresentacao-contato{
    font-size: 1.25rem;
}

.campo__dado__pessoal{
    display: block;
}

.campo__dado__pessoal{
    margin: 1rem;
}

.dado_pessoal__nome, 
.dado_pessoal__contato, 
.dado_pessoal__email{
    width: 290px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

.dado_pessoal__mensagem{
    width: 290px;
    min-height: 100px;
    border: none;
}

.botao-submit{
    font-size: 16px;
    font-weight: 600;
    margin: 36px 0;
    padding: 10px 15px;
    border-radius: 18px;
    border: none;
}

.dado_pessoal__nome::placeholder, 
.dado_pessoal__contato::placeholder, 
.dado_pessoal__email::placeholder{
    padding-left: 16px;
    align-items: center;
}

.dado_pessoal__mensagem::placeholder{
    padding: 12px 0 0 12px;
}

.meio__contato{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-botao{
    width: 24px;
    padding: 5px;
    margin: 10px;
    background-color: white;
    border-radius: 7px;
}

.contato{
    background-color: white;
}

.contato__link{
    display: flex;
}

.social-links-link{
    text-decoration: none;
    color: white;
}

/*-------------------------------- MEDIA QUERIES PARA TELA 768PX --------------------------------*/

@media screen and (min-width: 768px){
    .principal__titulo{
        margin: 5rem 0 2rem 0;
    }

    .apresentacao-contato{
        font-size: 1.5rem;
    }

    .dado__nome, 
    .dado__contato, 
    .dado__email, 
    .dado__menssagem{
        font-size: 18px;
    }

    .dado_pessoal__nome, 
    .dado_pessoal__contato, 
    .dado_pessoal__email{
        width: 400px;
    }

    .dado_pessoal__mensagem{
        margin: 0;
        width: 400px;
        min-height: 100px;
    }
}

/*-------------------------------- MEDIA QUERIES PARA TELA 1280PX --------------------------------*/

@media screen and (min-width: 1280px){
    .contato__formulario{
        display: flex;
        gap: 100px;
        padding: 24px 0;
        justify-content: center;
    }

    .meio__contato{
        align-items: center;
        justify-content: left;
    }
}
