.apresentacao-principal{
    padding: 2rem 0.5rem;
    text-align: center;
}

.apresentacao-principal{
    text-align: center;
}

.apresentacao-experiancia{
    margin-top: 5.5rem;
    font-size: 2rem;
}

.apresentacao-profissao{
    margin-top: 5rem;
    font-size: 3rem;
}

.apresentacao-informacao-adicional{
    margin: 5.5rem 0;
    font-size: 2rem;
}

.experiencia{
    padding: 1rem;
}

.experiencia-empresa, .experiencia-periodo{
    margin-top: 1rem 0;
}
