.apresentacao-principal{
    padding: 2rem 0.5rem;
    text-align: center;
}

.apresentacao-principal{
    text-align: center;
}

.apresentacao-experiancia{
    margin-top: 5.5rem;
    font-size: 2rem;
}

.apresentacao-profissao{
    margin-top: 5rem;
    font-size: 3rem;
}

.apresentacao-informacao-adicional{
    margin: 5.5rem 0;
    font-size: 2rem;
}

.experiencia{
    padding: 1rem;
}

.experiencia-empresa, 
.experiencia-periodo, 
.experiencia-cargo, 
.experiencia-atividades{
    margin-top: 1rem;
}

.experiencia-atividades{
    text-align:justify;
    text-indent: 2.5rem;
}

.experiencia-empresa{
    font-size: 1.5rem;
}

.experiencia-periodo, 
.experiencia-cargo, 
.experiencia-atividades{
    font-size: 1.25rem;
}

/*-------------------------------- MEDIA QUERIES PARA TELA 620PX --------------------------------*/

@media screen and (min-width: 620px){
    .apresentacao-principal{
        padding: 2rem 1rem;
    }
}

/*-------------------------------- MEDIA QUERIES PARA TELA 768PX --------------------------------*/

@media screen and (min-width: 768px){
    .apresentacao-principal{
        padding: 2rem 1.5rem;
    }
}

/*-------------------------------- MEDIA QUERIES PARA TELA 1024PX --------------------------------*/

@media screen and (min-width: 1024px){
    
    .apresentacao-experiancia{
        font-size: 2.5rem;
    }

    .apresentacao-principal{
        padding: 2rem 2.5rem;
    }
}

/*-------------------------------- MEDIA QUERIES PARA TELA 1280PX --------------------------------*/

@media screen and (min-width: 1280px){
    
    .apresentacao-principal{
        padding: 2rem 3.5rem;
    }
}