@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-principal: 'Play', sans-serif;
    --fonte-logo: 'Orbitron', sans-serif;
    --cor-fundo: #03001C;
    --cor-botao: #301E67;
    --cor-texto: white;
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

#cabecalho-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.menu{
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: var(--cor-fundo);
}

.menu-lista-link{
    text-decoration: none;
    color: var(--cor-fundo);
    font-size: 20px;
    font-weight: 600;
}

.menu-titulo{
    font-family: var(--fonte-logo);
    font-size: 3rem;
}

.menu-lista, .menu-titulo{
    list-style-type: none;
    font-size: var(--font-size-principal);
}

.menu-lista{
    font-size: 1.25rem;
    display: none;
    font-weight: 400;
}



/*-------------------------------- MEDIA QUERIES PARA TELA 1024PX --------------------------------*/

@media screen and (min-width: 1024px){
    .menu-lista{
        display: block;
    }
}



