@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-principal: 'Play', sans-serif;
    --fonte-logo: 'Orbitron', sans-serif;
    --cor-fundo: #03001C;
    --cor-botao: #301E67;
    --cor-texto: white;
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}