.apresentacao-sobre-min{
    margin-top: 4rem;
    font-size: 2.5rem;
}

.sobre-mim-nome, .sobre-mim-texto{
    margin-top: 1rem;
}

.sobre-mim-box{
    padding: 0.5rem;
}

.sobre-mim-texto{
    text-align:justify;
    text-indent: 2.5rem;
}

.botao-rede-social{
    display: flex;
    margin: 2rem 0;
    justify-content: space-evenly;
}

.sobre-mim-rede-social{
    display: flex;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: white;
    color: #03001C;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 25px;
}

.icone-botao{
    width: 24px;
    margin-right: 12px;
}


/*-------------------------------- MEDIA QUERIES PARA TELA 620PX --------------------------------*/

@media screen and (min-width: 620px){
    .sobre-mim-box{
        padding: 1.25rem;
    }
}

/*-------------------------------- MEDIA QUERIES PARA TELA 768PX --------------------------------*/

@media screen and (min-width: 768px){
    .sobre-mim-box{
        padding: 1.5rem;
    }

    .sobre-mim-nome{
        font-size: 1.5rem;
    }
}

/*-------------------------------- MEDIA QUERIES PARA TELA 1024PX --------------------------------*/

@media screen and (min-width: 1024px){
    .sobre-mim-box{
        padding: 2.5rem;
    }
}

/*-------------------------------- MEDIA QUERIES PARA TELA 1280PX --------------------------------*/

@media screen and (min-width: 1280px){
    .sobre-mim-box{
        padding: 4rem;
    }
}
